/* Reset some default styles */
/* * {
    margin: 0;

    padding: 0;
    box-sizing: border-box;
  } */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {

    background-color: #f0f0f0;
  }
  
  .project-section {
    position: relative;
    text-align: center;
    padding: 40px;
    margin: 50px;
    overflow: hidden;
  }
  
  .twinkling-thread {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 0%, rgba(250, 246, 246, 0.2) 5%);
    animation: twinkling 3s linear infinite;
    z-index: -1;
  }
  
  @keyframes twinkling {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  .project-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 1;
  }
  
  .project-card {
    background: #f0dbdbea;
    border: 1px solid #9b3784;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    transform: perspective(1000px) rotateY(180deg);
    transition: transform 0.5s ease;
    opacity: 0.5;
  }
  
  .project-card:hover {
    transform: perspective(1000px) rotateY(0deg);
    color: black;
    opacity: 1;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
  }
  
  .project-card a {
    display: block;
    background: #1a4164;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .project-card a:hover{
    background-color: white;
    color:#1a4164 ;
    box-shadow: 0 0 10px rgba(43, 57, 72, 0.552), 0 0 20px rgba(33, 51, 65, 0.588), 0 0 30px rgba(29, 56, 89, 0.595);

  }
  
  /* Add more CSS styles as needed */
  